h3 {
  text-align: center;
}

.container {
  width: 50vw;
  height: 50vh;
  align-items: center;
  margin: auto;
}

h4 {
  text-align: left;
  display: inline-block;
}

h7 {
  text-align: right;
  display: inline-block;
}

.imgContainer {
  position: relative;
}

img {
  width: 100%;
  max-height: 70vh;
  height: auto;
}

/*.prev,
.next {
  position: absolute;
  top: 50%;

  color: red;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
*/

.next {
  position: absolute;
  color: red;
  top: 50%;
  right: 1%;
}

.prev {
  position: absolute;
  color: red;
  top: 50%;
  left: 1%;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.like1 {
  background-color: transparent;
  color: gray;
  border: none;
}

.like1 :hover {
  transition: 0.5s ease-out;
  transform: scale(1.5);
}

.like2 {
  background-color: transparent;
  color: red;
  border: none;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
